# TechReads Pipeline Notebook (CW1 Supporting File)
This notebook references the scripts used across Tasks 1, 2, and 4.

In [1]:
!python "C:\Users\alvi9\MyWork\Data Engineering - Copy\src\scrape_techreads.py"

Saved 15 records to data\techreads_books.csv
                                title  author publication_year  price_gbp  rating availability                                                                              product_url                   scraped_at_utc
                 A Light in the Attic Unknown             None      51.77       3     In stock                https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html 2026-02-19T14:10:55.880641+00:00
                   Tipping the Velvet Unknown             None      53.74       1     In stock                   https://books.toscrape.com/catalogue/tipping-the-velvet_999/index.html 2026-02-19T14:10:55.880641+00:00
                           Soumission Unknown             None      50.10       1     In stock                           https://books.toscrape.com/catalogue/soumission_998/index.html 2026-02-19T14:10:55.880641+00:00
                        Sharp Objects Unknown             None      47.82       4     In stock                        https://books.toscrape.com/catalogue/sharp-objects_997/index.html 2026-02-19T14:10:55.880641+00:00
Sapiens: A Brief History of Humankind Unknown             None      54.23       5     In stock https://books.toscrape.com/catalogue/sapiens-a-brief-history-of-humankind_996/index.html 2026-02-19T14:10:55.880641+00:00

In [2]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\alvi9\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\alvi9\anaconda3\lib\site-packages (from mysql) (2.2.8)

In [3]:
import pandas as pd
df = pd.read_csv(r"C:\Users\alvi9\MyWork\Data Engineering\techreads_books.csv")
df.head()

,Title,Price,Star Rating,Availability,UPC
0,A Light in the Attic,51.77,3,In stock,a897fe39b1053632
1,Tipping the Velvet,53.74,1,In stock,90fa61229261140a
2,Soumission,50.10,1,In stock,6957f44c3847a760
3,Sharp Objects,47.82,4,In stock,e00eb4fd7b871a48
4,Sapiens: A Brief History of Humankind,54.23,5,In stock,4165285e1663650f

In [4]:
!python "C:\Users\alvi9\MyWork\Data Engineering - Copy\src\csv_to_json.py"
!python "C:\Users\alvi9\MyWork\Data Engineering - Copy\src\mongodb_pipeline.py"

Created JSON file: data\techreads_books.json (15 records)
Inserted 15 documents into techreads_mongo_db.books
Mongo query returned 5 records in 1.419 ms
{'title': 'Set Me Free', 'price_gbp': 17.46, 'rating': 5}
{'title': 'Rip it Up and Start Again', 'price_gbp': 35.02, 'rating': 5}
{'title': "Shakespeare's Sonnets", 'price_gbp': 20.66, 'rating': 4}
{'title': 'The Boys in the Boat: Nine Americans and Their Epic Quest for Gold at the 1936 Berlin Olympics', 'price_gbp': 22.6, 'rating': 4}
{'title': 'The Dirty Little Secrets of Getting Your Dream Job', 'price_gbp': 33.34, 'rating': 4}
Mongo query with index: 1.275 ms

In [2]:
pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     - -------------------------------------- 0.5/11.9 MB 2.0 MB/s eta 0:00:06
     ---- ----------------------------------- 1.3/11.9 MB 3.1 MB/s eta 0:00:04
     ------- -------------------------------- 2.4/11.9 MB 3.8 MB/s eta 0:00:03
     ----------- ---------------------------- 3.4/11.9 MB 4.1 MB/s eta 0:00:03
     --------------- ------------------------ 4.5/11.9 MB 4.3 MB/s eta 0:00:02
     ------------------ --------------------- 5.5/11.9 MB 4.4 MB/s eta 0:00:02
     ---------------------- ----------------- 6.6/11.9 MB 4.5 MB/s eta 0:00:02
     ------------------------- -------------- 7.6/11.9 MB 4.5 MB/s eta 0:00:01
     ----------------------------- ---------- 8.7/11.9 MB 4.6 MB/s eta 0:00:01
     -------------------------------- ------- 9.7/11.9 MB 4.6 MB/s eta 0:00:01
     ----------------------------------- ---- 10.5/11.9 MB 4.6 MB/s eta 0:00:01
     -------------------------------------- - 11.5/11.9 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------- 11.9/11.9 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp313-cp313-win_amd64.whl size=247959 sha256=2ca0d56b090a4ceac73214a569c7bcc8f7635445874eb3d2d341ee2c2b279d59
  Stored in directory: c:\users\alvi9\appdata\local\pip\cache\wheels\4e\c1\23\9423c444a75266a05275c80ebf5c6efe2368388e976b690a0f
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: Building 'mysql.connector' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'mysql.connector'. Discussion can be found at https://github.com/pypa/pip/issues/6334

In [3]:
!python "C:\Users\alvi9\MyWork\Data Engineering - Copy\src\benchmark_sql_vs_nosql.py"

=== SQL vs NoSQL Query Time Comparison ===
MySQL query time   : 0.690 ms
MongoDB query time : 4.218 ms
Observation: MySQL was faster in this local test run.